input {
    margin: 10px 0px;
}

form {
    border: 1px solid #ddd;
    display: inline-block;
    padding:10px 20px;
}

form h1 {
    font-size: 20px;
    margin:5px 0;
}

.quality {
    padding: 0px 5px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    width: 100%;
}

.uploaded {
    border: 1px solid #ddd;
    display: block;
    margin-top: 20px;
}

.uploaded h3 {
    padding: 10px 10px;
    margin: 0;
}